

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.option {
	display: flex;
	flex-direction: row;
}


.option div {
	padding: 10px 50px;
	background-color: #999999;
	cursor: pointer;
}

body[data-side='left'] #select-left,
body[data-side='right'] #select-right {
	background-color: #777777;
}

.colors {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.colors div {
	background-color: grey;
	width: 40px;
	height: 80px;
	margin-inline: 10px;
}

.colors div[data-color='R'] {
	background-color: #FF0000;
}

.colors div[data-color='G'] {
	background-color: #00FF00;
}

.colors div[data-color='Y'] {
	background-color: #FFFF00;
}

.colors div[data-color='P'] {
	background-color: #FF00FF;
}

.colors div[data-color='B'] {
	background-color: #00FF00;
}

