html {
	/* background-color: #281225; */
	margin: 0;
	padding: 0;
}

.puzzle {
	width: fit-content;
	background-color: pink;
	margin: auto;
	padding: 25px;
}

.lights {
	display: flex;
	scale: 0.7 1;
	width: fit-content;
}

.light {
	display: block;
	margin: 40px;
	transform: rotate(45deg);
	width: 125px;
	height: 125px;
	background-color: var(--color);
	--color: darkgrey;
}

.light[data-value="0"] {
	--color: green;
}

.light[data-value="1"] {
	--color: blue;
}

.light[data-value="2"] {
	--color: yellow;
}

.light[data-value="3"] {
	--color: red;
}

.light[data-value="4"] {
	--color: purple;
}


.levers {
	display: flex;
	flex-direction: row;
	width: fit-content;
	margin: auto;
	margin-top: 50px;
}


.levers .group {
	margin-inline: 50px;
	display: flex;
	flex-direction: row;
}

.lever {
	background-color: grey;
	width: 75px;
	height: 150px;
	margin-inline: 10px;
	cursor: pointer;
}
