html {
	background-color: grey;
}


.signet-container {
	display: flex;
	flex-direction: row;
	background-color: black;
	padding: 10px;

	justify-content: center;
	align-items: center;
}

.signet {
	--color: darkgrey;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-bottom: 35px solid var(--color);
	position: relative;
	top: -25px;
	margin: 5px;
}

.signet:after {
	content: '';
	position: absolute;
	left: -25px;
	top: 35px;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top: 35px solid var(--color);
}

.signet[data-value="1"] {
	--color: #22b14c;
}

.signet[data-value="2"] {
	--color: blue;
}

.signet[data-value="3"] {
	--color: yellow;
}

.signet[data-value="4"] {
	--color: red;
}

.signet[data-value="5"] {
	--color: purple;
}


/* Green blue yellow red purple */
